#root {
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

body {
  margin: 0;
  padding:0.5;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
 background-image: linear-gradient(to left, rgb(59, 57, 53), rgb(24, 23, 23));
}
.title{
  color: aliceblue;
  text-shadow: 6px 2px 4px #8b7979;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.pro-container{
   display: grid;
  grid-template-columns:1fr 1fr;
  justify-content: center;
  gap: 2rem;
}
.card-pro{

	justify-content: center;
	justify-items: center;
	background: rgba(255, 255, 255, 0.2);
	padding: 3rem;
	border-radius: 12px;        
  backdrop-filter: blur(10px); 
	height: 250px;
	width: 250px;
  

}
.text-pro{
   color: white;
  text-shadow: 6px 2px 4px #000000;
}
.card-pro{
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.card-pro:hover {
  transform: translateY(-10px) scale(1.05); 
  background-color: rgba(255, 255, 255, 0.2); 
  cursor: pointer; 
}
