#root {
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

body {
  margin: 0;
  padding:0.5;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
 background-image: linear-gradient(to left, rgb(228, 135, 15), rgb(122, 55, 1));
}
.card-pro{
  display: flexbox;
	justify-content: center;
	justify-items: center;
	background: rgba(255, 255, 255, 0.2);
	padding: 3rem;
	border-radius: 12px;        
  backdrop-filter: blur(10px); 
	height: 350px;
	width: 400px;

}
.text-pro{
   color: white;
  text-shadow: 6px 2px 4px #000000;
}
